* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato;
}

header {
	background-color: #ff8a00;
}

header .container {
	display: flex;
	padding: 5px 20px;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	margin: auto;
}

.container a {
	color: #fff;
	font-weight: 700;
	margin: 0 10px;
	text-decoration: none;
}

.container a:hover {
	text-decoration: underline;
}

header img {
	width: 250px;
}

body {
	background-color: rgb(243, 243, 243);
}

h1{
    font-size: 2em;
	color: #ff8a00;
}

main .container {
	max-width: 1200px;
	margin: 20px auto;
    padding: 0 50px;
}


.formulario form {
	width: 90%;
	margin: auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    margin: auto;
}

.formulario{
    padding: 15px 80px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.campo_informacion {
	margin: 10px;
	width: 40%;
}


.campo_informacion h3 {
	font-size: 1.4em;
	color: #ff8a00;
	padding: 2px;
	background-color: rgb(243, 243, 243);
	position: absolute;
}

.campo_informacion input {
	border-color: #ff8a00;
	border-width: 2px;
	border-radius: 2px;
	border-style: solid;
    background-color: rgb(243, 243, 243);
	width: 90%;
	height: 36px;
	text-align: center;
	margin: 20px;
}

.radio{
	display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    
}

.radio label{
	border-width: 2px;
}

.campo_informacion select{
	position: relative;
	top: 50px;
}

.especial{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_registrar{
    border-radius: 8px;
    background-color: #44DC37;
    border-style: none;
    color: #fff;
    padding: 8px;
    transition: 0.3s;
    width: 25%;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px auto;
}

.btn_registrar:hover{
    box-shadow: 0px 0px 13px 1px rgba(73, 73, 73, 0.37);
}

footer {
	height: 150px;
	width: 100%;
	background-color: #696969;
	position: absolute;
	bottom: 0;
	left: 0;
}
