* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Lato;
	max-width: 1400px;
	padding: 14px 20px;
	margin: auto;
}

.nav_menu {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	font-weight: bold;
}

.nav_menu-btn {
	margin: 10px;
	color: #000000;
	text-decoration: none;
}

header {
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	width: 90vw;
	margin: auto;
	margin-top: 15px;
	max-width: 1000px;
}

.container {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 25px auto;
	/*
	border-style: solid;
	border-color: blueviolet;
	*/
}

.logo {
	width: 200px;
}

h1 {
	font-size: 1.8em;
	color: #ff8a00;
}

.veterinario{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn_actualizar_imagen {
	border-radius: 50%;
	border-style: none;
	background-color: #ff8a00;
	color: #fff;
	position: absolute;
	padding: 8px 17px;
	text-decoration: none;
	font-size: 30px;
	top: 170px;
	left: 175px;
}

.img_persona {
	width: 75px;
	height: 75px;
	overflow: hidden;
	border-radius: 50%;
	position: absolute;
	left: 30px;
	top: 15px;

	border-style: solid;
	border-color: #ff8a00;
	border-width: 4px;
}

.img_perfil img {
	width: 100%;
	height: auto;
}

.img_perfil {
	margin: 25px;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;

	border-style: solid;
	border-color: #ff8a00;
	border-width: 6px;
}

.mas_veterinario {
	width: 72%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	/*
	border-style: solid;
	border-color: rgb(47, 255, 186);
	*/
}

.img_veterinario_perfil {
	width: auto;
	height: 100%;
}

.informacion_veterinario {
	width: 90%;
	margin: auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.campo_informacion {
	margin: 10px;
	width: 40%;
}

.campo_informacion_largo {
	margin: 10px;
	width: 100%;
}

.campo_informacion_largo h3 {
	font-size: 1.4em;
	color: #ff8a00;
	padding: 2px;
	background-color: #fff; 
	position: absolute;
}

.campo_informacion_largo input {
	border-color: #ff8a00;
	border-width: 2px;
	border-radius: 2px;
	border-style: solid;
	width: 80%;
	height: 36px;
	text-align: center;
	margin: 20px;
}

.campo_informacion h3 {
	font-size: 1.4em;
	color: #ff8a00;
	padding: 2px;
	background-color: #fff;
	position: absolute;
}


.campo_informacion_mod h3 {
	font-size: 1.4em;
	color: #ff8a00;
	padding: 2px;
	background-color: #fff;
	position: absolute;
}

.campo_informacion input {
	border-color: #ff8a00;
	border-width: 2px;
	border-radius: 2px;
	border-style: solid;
	width: 80%;
	height: 36px;
	text-align: center;
	margin: 20px;
}
.campo_informacion_mod {
	margin: 10px;
	width: 85%;
}

.campo_informacion_mod textarea {
	padding-top: 2%;
	border-color: #ff8a00;
	border-width: 2px;
	border-radius: 2px;
	border-style: solid;
	width: 90%;
	height: 200px;
	text-align: center;
	margin: 20px;
	resize: none;
}

.btn_modificar {
	border-radius: 8px;
	margin: 0 10px;
	background-color: #ff8a00;
	color: #fff;
	padding: 8px;
	border-color: #ff8a00;
}
